In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as skl
import seaborn as sns

In [2]:
%cd /home/stepan/kaggle/cars_from_auction

/home/stepan/kaggle/cars_from_auction

In [3]:
%ls

data/  models/  prepare/  result/  review/  test/  train/

In [4]:
%ls data/

processed/  sample_submission.csv  test.csv  train.csv  zipcodes.csv

In [5]:
data_path = 'data/processed/'
data_file = 'merged_transformed_test.csv'

In [6]:
data = pd.read_csv(data_path + data_file, index_col=0)

In [7]:
data

,engine_capacity,type,registration_year,gearbox,power,model,mileage,fuel,brand,damage,zipcode,insurance_price,city,latitude,longitude,dist
index,,,,,,,,,,,,,,,,
60314,1.6,small car,2013,manual,136.0,swift,40000,gasoline,suzuki,0.0,30449,6.194405,Hannover,52.384470,9.726930,2838.745864
12566,NaN,coup√©,2004,auto,333.0,6er,150000,gasoline,bmw,0.0,45307,6.507278,"Essen, Ruhr",51.462488,7.008645,2697.508782
17760,NaN,station wagon,2006,auto,170.0,e_klasse,150000,diesel,mercedes_benz,0.0,59494,6.131226,"Soest, Westfalen",51.566980,8.110620,2724.935583
8876,NaN,limousine,1999,manual,101.0,astra,150000,gasoline,opel,NaN,25524,NaN,Itzehoe,53.926752,9.512700,2998.586043
80392,NaN,limousine,1975,manual,54.0,andere,150000,diesel,mercedes_benz,0.0,70794,7.012115,Filderstadt,48.666700,9.216670,2453.394695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93878,1.4,limousine,1999,manual,86.0,corolla,150000,gasoline,toyota,0.0,44339,4.700480,Dortmund,51.504225,7.483654,2708.690313
99783,NaN,station wagon,2002,auto,184.0,3er,150000,diesel,bmw,0.0,47574,5.480639,Goch,51.679880,6.156480,2708.712243
57399,NaN,small car,2005,manual,52.0,fox,100000,gasoline,volkswagen,0.0,50389,4.094345,"Wesseling, Rheinland",50.833300,6.983330,2632.791287
97106,NaN,bus,2001,manual,151.0,transporter,150000,diesel,volkswagen,0.0,12209,6.835185,Berlin,52.524680,13.405350,2938.545418
478,NaN,limousine,1994,manual,116.0,vectra,150000,gasoline,opel,0.0,15517,4.248495,F√ºrstenwalde / Spree,52.367690,14.071620,2940.385445

In [8]:
data = data.drop(columns=['zipcode', 'dist'], axis=1)

In [9]:
data

,engine_capacity,type,registration_year,gearbox,power,model,mileage,fuel,brand,damage,insurance_price,city,latitude,longitude
index,,,,,,,,,,,,,,
60314,1.6,small car,2013,manual,136.0,swift,40000,gasoline,suzuki,0.0,6.194405,Hannover,52.384470,9.726930
12566,NaN,coup√©,2004,auto,333.0,6er,150000,gasoline,bmw,0.0,6.507278,"Essen, Ruhr",51.462488,7.008645
17760,NaN,station wagon,2006,auto,170.0,e_klasse,150000,diesel,mercedes_benz,0.0,6.131226,"Soest, Westfalen",51.566980,8.110620
8876,NaN,limousine,1999,manual,101.0,astra,150000,gasoline,opel,NaN,NaN,Itzehoe,53.926752,9.512700
80392,NaN,limousine,1975,manual,54.0,andere,150000,diesel,mercedes_benz,0.0,7.012115,Filderstadt,48.666700,9.216670
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93878,1.4,limousine,1999,manual,86.0,corolla,150000,gasoline,toyota,0.0,4.700480,Dortmund,51.504225,7.483654
99783,NaN,station wagon,2002,auto,184.0,3er,150000,diesel,bmw,0.0,5.480639,Goch,51.679880,6.156480
57399,NaN,small car,2005,manual,52.0,fox,100000,gasoline,volkswagen,0.0,4.094345,"Wesseling, Rheinland",50.833300,6.983330
97106,NaN,bus,2001,manual,151.0,transporter,150000,diesel,volkswagen,0.0,6.835185,Berlin,52.524680,13.405350
478,NaN,limousine,1994,manual,116.0,vectra,150000,gasoline,opel,0.0,4.248495,F√ºrstenwalde / Spree,52.367690,14.071620

In [10]:
data.to_csv(data_path + 'selected_' + data_file)